* {
    margin: 0px;
    padding: 0px;
}
p{
    background-color:#050C9C;
    color: #3572EF;
    height: 10vh;
    font-size: 60px;
    padding-bottom:20px ;
    text-indent:70px;
    text-shadow: -7px -7px 6px #3ABEF9 ;
}