.rr{
    background-image: url("../Css/download.jpeg");
    background-repeat: repeat-y ;
    color: coral;
    background-attachment:fixed ;
    background-position:left  ;
    margin: 0;
    padding: 40px;
}